<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" (submit)="ingresar($event)">
      <input type="text" placeholder="USUARIO" id="username"/>
    <input type="password" placeholder="CONTRASEÑA" id="password"/>
      <button type="submit" value="submit" >login</button>
      <p class="message">No esta registrado? <a href="#">Crea una cuenta</a></p>
    </form>
  </div>
</div>




